body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
  }
  
  .tarefa {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 500px; 
  }
  
  .task span {
    margin-right: 20px;
  }
  
  button {
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  div {
    margin: 10px;
  }

  div.div1 { 
    border: 1px solid;
    margin: 20px;
    border-radius: 30px;
    background: #c6c4c2;
  }

  div.div2 {
    margin-bottom:20px;
  }

  input {
    margin-bottom: 10px;
  }